<div style = "padding-top: 1cm; padding-left: 1cm;">
<h2 style = "color: #758EA9; font-family:'Asap', sans-serif;">Your RSVP for the event is successful</h2>
<h2 style = "color: #758EA9; font-family:'Asap', sans-serif;">This is your RSVP code: <%= @rsvp.rsvp_code %><h2>
<p style = "padding-top: 1cm; font-family:'Asap', sans-serif"><%= link_to "Back to E-Spot", root_path %><p>
</div>

